#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

body {
background-color: #5c7370;
}

h1 {
  color: #3c3b47;
  font-size: 48px;
  font-weight: 300;
  margin-top: 200px;
}


.section {
  color: #3c3b47;
  font-size: 20px;
  font-weight: 200;
}


.button {
  margin: 10px; /* Add margin for spacing between buttons */
  padding: 10px; /* Add padding for better visual appearance */
  /**border: 1px solid #19191b; /* Add borders for button styling */
  cursor: pointer; /* Add cursor pointer for interactive feel */
  border-radius: 5px;
  font-weight: 550;
  text-decoration: none;
}

/* Additional styling for individual buttons if needed */
.home {
  background-color: #f9AA33;
  color: #3c3b47;
}

.aboutMe {
  background-color: #f9AA33;
  color: #3c3b47;
}

.skills {
  background-color: #f9AA33;
  color: #3c3b47;
}

.projects {
  background-color: #f9AA33;
  color: #3c3b47;
}

.contact {
  background-color: #f9AA33;
  color: #3c3b47;
}

.buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section {
  text-align: left;
}



/*
Color theme
#19191b	(25,25,27)
#3c3b47	(60,59,71)
#424e59	(66,78,89)
#5c7370	(92,115,112)
#81a0a6	(129,160,166)

TEST IF PUSH WORKS CORRECTLY
*/

